.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background-color: #343a40;
    padding-top: 60px;
}

.sidebar .nav-link {
    color: #f8f9fa;
}



#main-content {
    position: relative;
    left: 16em;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

.modal-content {
    padding: 20px;
}

.modal-header {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;

}

.modal-body {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;


}

.centerPlease {
    position: relative;
    right: 1000px;
}

#loginButton {
    position: relative;
}

[v-cloak] {
    display: none;
}

.date, .location {
    font-weight: 200;
}

.fixed-button {
    position: fixed;
    left: 1px;
    top: 240px;
    margin-top: 20px;
    z-index: 9999;
}
.table-compact {
    border-collapse: collapse;
}

.table-compact th,
.table-compact td {
    padding: 8px;
}

.table-size {
    width: 85em;
    margin: 0 auto;
    margin-left: 20em;
}

.hidden {
    display: none;
}
