<!DOCTYPE html>
<html lang="en">
<!-- <head>
	<title>User Profile</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head> -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Settings</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<link rel="stylesheet" href="../css/style.css">
	<script src="../scripts/script.js" defer></script>
</head>

<body>
	<div class="sidebar d-none d-lg-block">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="#" onclick="goToExplorePage()"><span class="fas fa-compass me-2"></span>Explore</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" onclick="goToMyClubs()"><span class="fas fa-users me-2"></span>My Clubs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" onclick="goToSettingsPage()"><span class="fas fa-cog me-2"></span>Settings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/logout"><span class="fas fa-sign-out me-2"></span>Logout</a>
			</li>
		</ul>

	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid w-100">
			<a class="navbar-brand" href="#">
				<img src="../images/site-icon.png" alt="Site Icon" width="30" class="img-fluid">
			</a>
			<h2 style="color: white;">Adelaide Uni Clubs</h2>
			<form class="d-flex mx-auto w-75">
				<input class="form-control me-2" type="search" placeholder="Search Clubs" aria-label="Search" style="width: 400px;">
				<button class="btn btn-outline-primary" type="submit">
					<span class="fas fa-search"></span>
				</button>
			</form>
		</div>
	</nav>

	<div id="main-content">
		<div class="container mt-5">
			<h1>User Profile</h1>
			<hr>
			<h3>Account Information</h3>
			<div id="user-settings">
				<form @submit.prevent="submitForm">
					<div class="mb-3">
						<label for="given_name" class="form-label">First Name</label>
						<input v-model="given_name" type="text" :class="{ 'is-invalid': hasError('given_name') }" class="form-control" id="given_name" placeholder="Change your First name">
						<p v-if="hasError('given_name')" class="invalid-feedback">{{ getErrorMessage('given_name') }}</p>
					</div>
					<div class="mb-3">
						<label for="family_name" class="form-label">Family name</label>
						<input v-model="family_name" type="text" :class="{ 'is-invalid': hasError('family_name') }" class="form-control" id="family_name" placeholder="Change your Family name">
						<p v-if="hasError('family_name')" class="invalid-feedback">{{ getErrorMessage('family_name') }}</p>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input v-model="email" type="text" :class="{ 'is-invalid': hasError('email') }" class="form-control" id="email" placeholder="Change your email">
						<p v-if="hasError('email')" class="invalid-feedback">{{ getErrorMessage('email') }}</p>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input v-model="password" type="password" :class="{ 'is-invalid': hasError('password') }" class="form-control" id="password" placeholder="Change your password">
						<p v-if="hasError('password')" class="invalid-feedback">{{ getErrorMessage('password') }}</p>
					</div>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
			<hr>
			<h3>My Clubs</h3>
			<div class="container" id="subscribed-clubs">
				<ul class="list-group" v-for="subscribed_club in subscribed_clubs">
					<li class="list-group-item d-flex justify-content-between">
						<span>{{ subscribed_club.name }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
